.listWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.listWrapper input {
  margin: 2rem 0;
}
.movie {
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
  background-color: #ebebeb;
  text-align: left;
}

.movieInfo {
  display: flex;
  flex-direction: column;
  width: 100%;

  font-family: 'Lato', sans-serif;

}
.movieInfo > h3  {
  color: #02d2d6;
  background-color: #116193;
  font-family: 'Abel', sans-serif;
  height: auto;
  padding: 1.5rem 6rem .5rem;
  margin: 0;
  font-size: 24px;
}
.movieInfo > div {
  padding: 1rem;
}

.imageSize {
  height: 300px;
  width: 250px;
}

.smallInfo {
  display: flex;
  margin-top: -60px;
  padding-left: 0;
}
.smallInfo > p:nth-child(1) {
  width: 40px;
  height: 40px;
  text-align: center;
  align-self: flex-end;
  border: 5px solid #02d2d6;
  background-color: #116193;
  border-radius: 100%;
  font-size: 28px;
  color: #02d2d6;
  padding: .5rem;
  position: relative;
  top: -17px;
}
.smallInfo > p:nth-child(2) {
  align-self: center;
  margin-left: 15px;
  color: #bbb;
}

.genreContainer {
  display: flex;
}
.genreTag {
  background-color: #fff;
  color: #116193;
  border: 1px solid #116193;
  border-radius: .8rem;
  font-family: 'Lato', sans-serif;
  margin-right: 5px;
  font-weight: 400;
  padding: .2rem .5rem;
  font-size: 14px;
}